<IfModule mod_rewrite.c>
    ReWriteEngine on
    ReWriteCond %{REQUEST_FILENAME} !-f
    ReWriteCond %{REQUEST_FILENAME} !-d
    ReWriteCond $1 !^(index\.php|images|robots\.txt)
    ReWriteRule ^(.*)$ index.php/$0 [L]
</IfModule>

<IfModule mod_headers.c>
Header set X-XSS-Protection "1; mode=block"
Header always append X-Frame-Options SAMEORIGIN
Header set X-Content-Type-Options: "nosniff"
</IfModule>
